.first-box-container {
    width: 200px;
    height: 100px;
    background-color: red;
    position: absolute;
    top: 10px;
    border: solid green 8px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 26px;
    color:blue;
   
  }
  
  .second-box-container {
    width: 200px;
    height: 100px;
    background-color: yellow;
    position:absolute;
    left: 250px;
    top: 10px;
    border: solid red 8px;
    text-transform: uppercase; 
    text-align: center;   
    padding-top: 26px; 
    color:blue;
  }
  
  .third-box-container {
    width: 200px;
    height: 100px;
    background-color: green;
    position: absolute;
    left: 500px;
    top: 10px;
    border: solid yellow 8px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 26px;
    color:blue;
  }
  