.first-box-container {
    width: 200px;
    height: 100px;
    background-color: red;
    position: absolute;
    top: 10px;
   
  }
  
  .second-box-container {
    width: 200px;
    height: 100px;
    background-color: yellow;
    position:absolute;
    left: 250px;
    top: 10px;
    
    
    
  }
  
  .third-box-container {
    width: 200px;
    height: 100px;
    background-color: green;
    position: absolute;
    left: 500px;
    top: 10px;
    
  }
  